<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Ominousness</string>
			<key>user</key>
			<string>TheOminousness</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.ominousness.stackxi</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.ominousness.stackxi</string>
			<key>label</key>
			<string>Show "Collapse" / "Clear All" buttons</string>
			<key>key</key>
			<string>ShowButtons</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>Type</string>
			<key>label</key>
			<string>Label Style</string>
			<key>footerText</key>
			<string>On top: At top right of notifications (Will block date) &#xA;Below: At bottom right of notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>buttonLabelType</string>
			<key>key</key>
			<string>labelType</string>
			<key>validTitles</key>
			<array>
				<string>On top</string>
				<string>Below</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>io.ominousness.stackxi</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.ominousness.stackxi</string>
			<key>label</key>
			<string>Enable Debug Notifications</string>
			<key>key</key>
			<string>debugmode</string>
			<key>alternateColors</key>
			<true/>
		</dict>

		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>StackXI by Ominousness. Currently being destroyed by Nayu's skrubby programming.</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to reset all your preferences? This cannot be undone.</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>label</key>
			<string>Restore default settings and respring</string>
		</dict>


		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Original StackXI Github</string>
			<key>subtitle</key>
			<string>Original Source code</string>
			<key>url</key>
			<string>https://github.com/Ominousness/StackXI</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Screwed up StackXI Github</string>
			<key>subtitle</key>
			<string>Nayu's Fork</string>
			<key>url</key>
			<string>https://github.com/Nayuta-Kani/StackXI</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate to Ominousness</string>
			<key>subtitle</key>
			<string>Support me!</string>
			<key>url</key>
			<string>https://ominous.cf/donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>StackXI</string>
</dict>
</plist>
